
body {
	background-color: #1e1e1e;
	padding: 0;
	margin: 0;
	vertical-align: baseline;
}
.header{
	background-color: black;
	margin:auto;
	padding-top: 5px;
}
.header-text{
	color: white;
	font-size: 25px;
	font-family: Roboto;
	text-align: center;
}
.nav{
    padding: 10px;
    color: #ffffff;
    background-color: #01579b);
    font-family: Roboto;
    text-decoration:  none;
}
.nav-text{
	 color: #ffffff;
	 text-decoration:  none;
}
.navbar{
	background-color: #29b6f6;
    font-family: Roboto;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    text-align: center;
    list-style: none;
    margin: auto;
    padding: 0px;
    -webkit-padding-start: 0px;
    height: 48px;
    color:white;
    text-decoration: none;
    }
.specs-header{
	color: white;
	font-family: Roboto;
	text-align: left;
	padding-top: 20px;
}
#specs{
	background-color:; 
	margin:auto;
	max-width: 1000px;
}
.specs-desc{
	color: #ffffff;
	font-family: Roboto;
	font-size: 10px;
	padding-right: 15px;
}
.specs-title{
	color: #29b6f6;
	font-family: Roboto;
	font-size: 10px; 
	padding-right: 15px;
}
table, td, th {    
    text-align: left;
}
table {
    border-collapse: collapse;
    max-width: 1400px;
    background-color: black;
    vertical-align: baseline;
    margin: auto;
    border-bottom: 3px solid #29b6f6;
    border-top:  3px solid  #29b6f6;
}
.setup-image{
  	display: block;
  	max-width:664px;
  	max-height:373px;
  	width: auto;
  	height: auto;
  	padding: 10px;
}
#aboutme{
	background-color:; 
	margin:auto;
	max-width: 1000px;
}
.aboutme-header{
	color: white;
	font-family: Roboto;
	text-align: left;
	padding-top: 30px; 
}
.social-image{
	display: block;
	max-width: 50px;
	max-height: 50px;
	width: auto;
	height: auto;
	margin: auto;
}
.smbar{
	background-color: #29b6f6;
    font-family: Roboto;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    text-align: center;
    list-style: none;
    margin: auto;
    padding: 10px;
    -webkit-padding-start: 0px;
    height: 50px;
    color:white;
    text-decoration: none;
}
.pcpp-link{
	font-family: Roboto;
	color: white;
	text-align: left;
}
tr:hover {background-color: #000000;}
